<div class="block-header" *ngIf="eventDetail">
    <h2>{{ eventDetail.name }} ({{ eventDetail.startDate.format('dddd, MMMM Do') }}): Reserve</h2>
</div>
<div class="card">
    <div class="pm-body clearfix">
        <ul class="tab-nav tn-justified">
            <li *ngFor="let c of courses" class="btn-wave" [routerLinkActive]="['active']">
                <a [routerLink]="[c.id]" skipLocationChange>{{c.name}}</a>
            </li>
        </ul>
        <router-outlet></router-outlet>
    </div>
</div>
