.card-footer {
    padding: 25px;
    position: relative;
}
.checkin-label {
    padding-top: 5px;
}
.checkin-data {
    font-weight: bold;
    /*font-size: 1.1em;*/
}
.open-holes {
    overflow-y: auto;
    max-height: 70vh;
}

.modal-header > h3 {
    color: #ffffff;
}

.modal-header > small {
    color: #ffffff;
}
