<div class="block-header">
    <h2>Reporting</h2>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card event-card">
            <div class="card-header">
                <h2>Reports</h2>
            </div>
            <div class="card-body card-padding">
                <a class="btn btn-link" [routerLink]="['/member', 'reports', 'all-members']">Full Membership</a>
                <p>All member records, including inactive accounts.</p>
                <a class="btn btn-link" [routerLink]="['/member', 'reports', 'current-members']">Current Membership</a>
                <p>Membership report for the {{config.year}} season.</p>
                <a class="btn btn-link" [routerLink]="['/events', config.matchPlayId, 'matchplay', 'report']">Match Play Sign-ups</a>
                <p>Match play sign-ups for the {{config.year}} season.</p>
                <h6>Event Reconciliation Report</h6>
                <p>This is a pull from Stripe side-by-side with our own records to ensure that the payment info we
                have matches what our payment provider has.</p>
                <h6>Event Reports</h6>
                <p>This will be the same reports you have in the current system. You will go to the actual event page
                to run these. Should be available to all board members and proshop staff, correct?</p>
                <h6>TODO</h6>
                <p>Anything else we need day 1?</p>
            </div>
        </div>
    </div>
</div>
