<div class="block-header">
    <h2>Reporting</h2>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card event-card">
            <div class="card-header">
                <h2>Planned Reports</h2>
                <small>NOTE: only officers can reach these reports.</small>
            </div>h
            <div class="card-body card-padding">
                <h6>Membership Report</h6>
                <p>All member records with additional audit/filtering columns for is-active, is-registered (current year),
                    payment method, and so forth.</p>
                <h6>Event Reconciliation Report</h6>
                <p>This is a pull from Stripe side-by-side with our own records to ensure that the payment info we
                have matches what our payment provider has.</p>
                <h6>Event Reports</h6>
                <p>This will be the same reports you have in the current system. You will go to the actual event page
                to run these. Should be available to all board members and proshop staff, correct?</p>
                <h6>TODO</h6>
                <p>Anything else we need day 1?</p>
            </div>
        </div>
    </div>
</div>
