<div class="block-header">
    <h2>Contact Us</h2>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header ">
                <h2>2017 Bunker Hills Men’s Golf Club</h2>
            </div>
            <div class="card-body card-padding">
                <p>The Board of Directors of the Men’s Golf Club and the Golf Staff at Bunker Hills would like to take
                    this
                    opportunity to welcome you. Please contact any of the Officers, Directors or Pro Shop Staff if you
                    have any questions.</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card">
            <div class="card-header ">
                <h2>Officers</h2>
            </div>
            <div class="card-body card-padding">
                <ul>
                    <li><strong>President</strong><br/><span>Sam Shafer (2017)</span><span class="m-l-10"><a
                            href="tel:612-723-2352">612-723-2352</a></span></li>
                    <li><strong>Vice President</strong><br/><span>Mike Konieczny (2017)</span><span class="m-l-10"><a
                            href="tel:651-402-1432">651-402-1432</a></span></li>
                    <li><strong>Secretary</strong><br/><span>Nate Lassila (2017)</span><span class="m-l-10"><a
                            href="tel:952-232-7225">952-232-7225</a></span></li>
                    <li><strong>Treasurer</strong><br/><span>Paul Wright (2018)</span><span class="m-l-10"><a
                            href="tel:763-331-5342">763-331-5342</a></span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card">
            <div class="card-header ">
                <h2>Directors</h2>
            </div>
            <div class="card-body card-padding">
                <ul>
                    <li>John Lundberg (2017)</li>
                    <li>Craig Pettis (2019)</li>
                    <li>Scott Bohm (2017)</li>
                    <li>Pat Henrich (2019)</li>
                    <li>Joe Raus (2018)</li>
                    <li>Bob Nichols (2017)</li>
                    <li>Gary Schrank (2018)</li>
                    <li>Brian Holbrook (2019)</li>
                    <li>Zac Uren (2018)</li>
                    <li>Chuck Rugroden - Past President (2017)</li>
                    <li>Paul Christenson - Honorary</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card">
            <div class="card-header ">
                <h2>Committees
                    <small>* denotes chairman</small>
                </h2>
            </div>
            <div class="card-body card-padding">
                <ul>
                    <li><strong>Tournament and Prizes</strong><br/><span>*Uren, Raus, Pettis, Rugroden, Lundberg</span>
                    </li>
                    <li><strong>Handicap</strong><br/><span>*Konieczny, Lundberg, Schrank</span></li>
                    <li><strong>Rules and Greens</strong><br/><span>*Shafer, Pettis, Christenson</span></li>
                    <li><strong>Food</strong><br/><span>*Bohm, Schrank</span></li>
                    <li><strong>Publicity and Newsletter</strong><br/><span>*Lassila</span></li>
                    <li><strong>Technology & Website</strong><br/><span>*Wright, Shafer</span></li>
                    <li><strong>Membership</strong><br/><span>*Konieczny,  Bohm, Pettis, Lassila, Uren</span></li>
                    <li><strong>Sponsorship Advertisement</strong><br/><span>*Raus</span></li>
                    <li><strong>24-Man Team Captain</strong><br/><span>Mike Konieczny</span></li>
                    <li><strong>8-Man Team Captain</strong><br/><span>Chuck Rugroden</span></li>
                    <li><strong>Season Long Individual Match Play Coordinator</strong><br/><span>Chuck Rugroden</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card">
            <div class="card-header ">
                <h2>Bunker Hills Staff</h2>
            </div>
            <div class="card-body card-padding">
                <ul>
                    <li>
                        <strong>Golf Director</strong><br/>
                        <span>Tim Anderson, PGA Certified Golf Professional</span>
                        <span class="m-l-10"><a href="tel:763-755-4141">763-755-4141</a></span>
                    </li>
                    <li>
                        <strong>Golf Staff</strong>
                        <ul>
                            <li>Tim Brovold, PGA 1st Assistant Golf Professional</li>
                            <li>Marcus Wilhelm, PGA Assistant Golf Professional</li>
                            <li>Dan Sainio, PGA Apprentice</li>
                        </ul>
                    </li>
                    <li>
                        <strong>Golf Course Superintendent</strong><br/>
                        <span>Brad Hable  GCSAA Class A</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header ">
                <h2>Tee Time Reservations</h2>
            </div>
            <div class="card-body card-padding">
                <p>Tee time reservations can be made by Patron Card holders up to five days in advance of the day of
                    play.
                    Contact the Pro Shop (<a href="tel:763-755-4141">763-755-4141</a>) for reservations or book online
                    <a target="_blank" href="https://bookit.activegolf.com/book-bunker-hills-gc-tee-times/1114">here</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header ">
                <h2>Send a Message
                    <small>All fields required</small>
                </h2>
            </div>
            <div class="card-body card-padding">
                <form name="contactForm" #contactForm="ngForm"
                      novalidate>
                    <div class="form-group" [class.has-error]="contactForm.submitted && !fullName.valid">
                        <div class="controls ">
                            <input class="form-control fc-alt" maxlength="100" placeholder="Full Name" type="text" required
                                   name="fullName" [(ngModel)]="message.full_name" #fullName="ngModel">
                            <div *ngIf="contactForm.submitted && !fullName.valid" class="help-block">Your full name is required</div>
                        </div>
                    </div>
                    <div class="form-group" [class.has-error]="contactForm.submitted && !emailAddress.valid">
                        <div class="controls ">
                            <input class="form-control" maxlength="254" placeholder="Email Address" type="email" required
                                   name="emailAddress" [(ngModel)]="message.email" #emailAddress="ngModel">
                            <div *ngIf="contactForm.submitted && !emailAddress.valid" class="help-block">Your email address is required</div>
                        </div>
                    </div>
                    <div class="form-group" [class.has-error]="contactForm.submitted && !messageText.valid">
                        <div class="controls ">
                            <label>Message</label>
                            <textarea class="form-control fc-alt" cols="40" rows="10" required
                                      name="messaageText" [(ngModel)]="message.message_text" #messageText="ngModel">
                            </textarea>
                            <div *ngIf="contactForm.submitted && !messageText.valid" class="help-block">You must have something to say?</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button (click)="sendMessage(contactForm)" class="btn btn-primary">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
