<div class="login-content">
    <div class="lc-block toggled" id="l-forget-password">
        <form name="form" (ngSubmit)="f.form.valid && getPassword()" #f="ngForm" novalidate>
            <div class="lcb-form">
                <p class="text-left">
                    Enter the email address that you had on file with the club last year and we'll send you an
                    email with details about how you can log in to the new website. Make sure you enter the exact
                    email you used to sign up in the past. If we don't find a match, we will not send an email
                </p>
                <p class="text-left">
                    If you don't remember the email, didn't give us an email, or otherwise cannot get these instructions
                    for the new website, please contact a board member for assistance.
                </p>
                <div class="input-group m-b-20" [class.has-error]="f.submitted && !email.valid">
                    <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                    <input type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel"
                           placeholder="Email Address" required>
                </div>

                <button [disabled]="loading" type="submit"
                        class="btn btn-login btn-success btn-float waves-effect waves-circle waves-float">
                    <i class="zmdi zmdi-check"></i>
                </button>
            </div>
        </form>
    </div>
</div>
