<div class="login-content">
    <div class="lc-block toggled">
        <form name="form" (ngSubmit)="f.form.valid && !loading && resetPassword()" #f="ngForm" novalidate>
            <div class="lcb-form">
                <p class="text-left" *ngIf="!returningMember">
                    Enter your email address and we'll send you a link where you can reset your password.
                </p>
                <p class="text-left" *ngIf="returningMember">
                    Enter the email address that you had on file with the club last year and and we'll send you a
                    link where you can create your password. Make sure you enter the exact
                    email you used to sign up in the past. If we don't find a match, we will not send an email
                </p>
                <p class="text-left" *ngIf="returningMember">
                    If you don't remember the email, didn't give us an email, or otherwise cannot get these instructions
                    for the new website, please contact a board member for assistance.
                </p>
                <div class="input-group m-b-20" [class.has-error]="f.submitted && !email.valid">
                    <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                    <input type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel"
                           placeholder="Email Address" required>
                </div>

                <button [disabled]="loading" type="submit"
                        class="btn btn-login btn-success btn-float waves-effect waves-circle waves-float">
                    <i class="zmdi zmdi-check"></i>
                </button>
            </div>
        </form>
        <div class="lcb-navigation" *ngIf="!returningMember">
            <a [routerLink]="['/member/login']" data-ma-block="#l-login">
                <i class="zmdi zmdi-long-arrow-right"></i>
                <span>Sign in</span>
            </a>
            <!--<a [routerLink]="['/member', 'new-member-signup', config.registrationId]" data-ma-block="#l-register">-->
                <!--<i class="zmdi zmdi-plus"></i>-->
                <!--<span>Register</span>-->
            <!--</a>-->
        </div>
    </div>
</div>
