<div class="login-content">
    <div class="lc-block" id="l-login">
        <form name="form" (ngSubmit)="f.form.valid && updatePassword()" #f="ngForm" novalidate>
            <div class="lcb-form">
                <p class="text-left">Enter a new password, then confirm that password to ensure we have received it correctly.</p>

                <div class="input-group m-b-20" [class.has-error]="f.submitted && invalid">
                    <span class="input-group-addon"><i class="zmdi zmdi-help-outline"></i></span>
                    <input type="password" class="form-control" [(ngModel)]="model.password1" name="password1" placeholder="New Password" required>
                </div>

                <div class="input-group m-b-20" [class.has-error]="f.submitted && invalid">
                    <span class="input-group-addon"><i class="zmdi zmdi-help-outline"></i></span>
                    <input type="password" class="form-control" [(ngModel)]="model.password2" name="password2" placeholder="Confirm Password" required>
                </div>

                <button [disabled]="loading"  type="submit"
                        class="btn btn-login btn-success btn-float waves-effect waves-circle waves-float">
                    <i class="zmdi zmdi-arrow-forward"></i>
                </button>
                <div class="text-danger" *ngIf="invalid">
                    The passwords don't match!
                </div>
            </div>
        </form>
    </div>
</div>
