<div class="login-content">
    <div class="lc-block toggled" id="l-forget-password">
        <form name="form" (ngSubmit)="f.form.valid && resetPassword()" #f="ngForm" novalidate>
            <div class="lcb-form">
                <p class="text-left">
                    Enter your email address and we'll send you a link where you can reset your password.
                </p>

                <div class="input-group m-b-20" [class.has-error]="f.submitted && !email.valid">
                    <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                    <input type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel"
                           placeholder="Email Address" required>
                </div>

                <button [disabled]="loading" type="submit"
                        class="btn btn-login btn-success btn-float waves-effect waves-circle waves-float">
                    <i class="zmdi zmdi-check"></i>
                </button>
            </div>
        </form>
        <div class="lcb-navigation">
            <a [routerLink]="['/member/login']" data-ma-block="#l-login">
                <i class="zmdi zmdi-long-arrow-right"></i>
                <span>Sign in</span>
            </a>
            <a [routerLink]="['/member/register']" data-ma-block="#l-register">
                <i class="zmdi zmdi-plus"></i>
                <span>Register</span>
            </a>
        </div>
    </div>
</div>
