<div class="block-header">
    <h2 class="hidden-xs">Dam Cup</h2>
    <h4 class="visible-xs">Dam Cup</h4>
    <ul class="actions" *ngIf="currentUser.isOfficer || currentUser.isBoardMember">
        <li class="dropdown" dropdown>
            <a href="" dropdownToggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="true">
                <i class="zmdi zmdi-wrench"></i>
            </a>
            <ul dropdownMenu class="dropdown-menu dropdown-menu-right">
                <li>
                    <a class="clickable" (click)="showTodo()">Update standings</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-xs-12">
                <div class="card event-card">
                    <div class="card-header">
                        <h2>Current Standings</h2>
                    </div>
                    <div class="card-body card-padding" *ngIf="currentStandings">
                        <div class="list-group">
                            <a class="list-group-item text-center" [href]="currentStandings.url" target="_blank">{{currentStandings.title}}<br>
                                <small>Last updated {{currentStandings.lastUpdate.format('MMM D, YYYY h:mm A')}}</small>
                            </a>
                        </div>
                    </div>
                    <upload (onClose)="uploadComplete($event)" [documentType]="documentType"></upload>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="card event-card">
                    <div class="card-header">
                        <h2>Results</h2>
                    </div>
                    <div class="card-body card-padding">
                        <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="text-center">Bunker Hills</th>
                                    <th class="text-center">Edinburgh</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>2012</td>
                                <td class="text-center"></td>
                                <td class="text-center"><strong>X</strong></td>
                            </tr>
                            <tr>
                                <td>2013</td>
                                <td class="text-center"><strong>X</strong></td>
                                <td class="text-center"></td>
                            </tr>
                            <tr>
                                <td>2014</td>
                                <td class="text-center"></td>
                                <td class="text-center"><strong>X</strong></td>
                            </tr>
                            <tr>
                                <td>2015</td>
                                <td class="text-center"><strong>X</strong></td>
                                <td class="text-center"></td>
                            </tr>
                            <tr>
                                <td>2016</td>
                                <td class="text-center"></td>
                                <td class="text-center"><strong>X</strong></td>
                            </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card event-card">
            <div class="card-body card-padding">
                <div class="dam-cup-pic">
                    <img src="../../../assets/img/DamCup.png">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card event-card">
            <div class="card-header">
                <h2>Past Seasons</h2>
            </div>
            <div class="card-body card-padding">
                <div class="list-group" *ngIf="archives">
                    <a *ngFor="let doc of archives" class="list-group-item text-center"
                       [href]="doc.url" target="_blank">{{doc.title}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
