<div class="block-header">
    <h2>{{ eventDetail.name }} ({{ eventDetail.eventType }})</h2>
    <ul class="actions" *ngIf="currentUser.isOfficer || currentUser.isBoardMember || currentUser.isProshopStaff">
        <li class="dropdown" dropdown>
            <a href="" dropdownToggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="true">
                <i class="zmdi zmdi-wrench"></i>
            </a>
            <ul dropdownMenu class="dropdown-menu dropdown-menu-right">
                <li *ngIf="currentUser.isOfficer || currentUser.isBoardMember">
                    <a class="clickable" (click)="showTodo('manual')">Offline Registration</a>
                </li>
                <li *ngIf="currentUser.isOfficer || currentUser.isBoardMember">
                    <a class="clickable" (click)="showTodo('add-remove')">Add or Remove Groups</a>
                </li>
                <li *ngIf="currentUser.isOfficer || currentUser.isBoardMember">
                    <a class="clickable" (click)="showTodo('report')">Event Report</a>
                </li>
                <li *ngIf="currentUser.isOfficer || currentUser.isBoardMember">
                    <a class="clickable" (click)="showTodo('pre-event')">Pre-event Registration</a>
                </li>
                <li *ngIf="currentUser.isProshopStaff">
                    <a class="clickable" (click)="showTodo('teetimes')">Upload Teetimes</a>
                </li>
                <li *ngIf="currentUser.isProshopStaff">
                    <a class="clickable" (click)="showTodo('results')">Upload Results</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-9">
        <div class="card event-card">
            <div class="card-header">
                <h2>Event Details</h2>
                <div>
                    <a *ngIf="currentUser.isAuthenticated && !isRegistered && eventDetail.canRegister" (click)="register()" class="btn btn-warning event-button">Register Now</a>
                    <a *ngIf="eventDetail.canViewRegistrations" (click)="registered()" class="btn btn-info event-button m-r-10">Registered</a>
                    <a *ngIf="eventDetail.teeTimes" [href]="eventDetail.teeTimes.url" target="_blank" class="btn btn-info event-button m-r-10">Tee Times</a>
                    <a *ngIf="eventDetail.results" [href]="eventDetail.results.url" target="_blank" class="btn btn-info event-button m-r-10">Results</a>
                </div>
            </div>
            <div class="card-body card-padding">
                <p><strong>Event date:</strong> {{ eventDetail.startDate.format('dddd, MMMM Do') }}</p>
                <p><strong>Start time:</strong> {{ eventDetail.startTime }} {{ startType }}</p>
                <p *ngIf="eventDetail.requiresRegistration"><strong>Registration open:</strong>
                    {{ eventDetail.signupStart.format('dddd, MMMM Do, h:mm a') }} - {{ eventDetail.signupEnd.format('dddd, MMMM Do, h:mm a') }}
                </p>
                <p class="text-danger" *ngIf="isRegistered"><strong>You are registered for this event.</strong></p>
                <div [markdown]="eventDetail.description"></div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card event-card">
            <div class="card-header">
                <h2>Fees and Points</h2>
            </div>
            <div class="card-body card-padding">
                <p><strong>Event fee:</strong> {{ eventDetail.eventFee | currency:'USD':true }}</p>
                <p *ngIf="hasSkins"><strong>{{ eventDetail.skinsType }} Skins:</strong>
                    {{ eventDetail.skinsFee | currency:'USD':true }}</p>
                <p><strong>Group size:</strong> {{ eventDetail.groupSize }}</p>
                <p><strong>Season long points:</strong> {{ eventDetail.seasonPoints }}</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card event-card">
            <div class="card-header">
                <h2>Notes</h2>
            </div>
            <div class="card-body card-padding">
                <div [markdown]="eventDetail.notes"></div>
            </div>
        </div>
    </div>
</div>
