<div class="block-header">
    <h2>Men's Club Home</h2>
</div>
<div class="row">
    <div class="col-md-6 col-sm-8">
        <div class="card event-card">
            <div class="card-body card-padding">
                <div class="listview">
                    <div class="lv-header">
                        Announcements
                    </div>
                    <div class="lv-body">
                        <div class="lv-item" *ngFor="let a of announcements">
                            <div class="media" *ngIf="a.isVisible(user.isAuthenticated)">
                                <div class="pull-left">
                                    <img class="lv-img-sm" src="../../assets/img/TeedUp.png" alt="Holiday proshop event">
                                </div>
                                <div class="media-body">
                                    <div class="lv-title">{{a.title}}</div>
                                    <div [markdown]="a.text"></div>
                                    <div *ngIf="a.eventName">
                                        <a class="btn btn-sm btn-link" [routerLink]="['/events', a.eventId, a.eventPage]">{{a.eventName}}</a>
                                    </div>
                                    <div *ngIf="a.documentName">
                                        <a class="btn btn-sm btn-link" target="_blank" [href]="a.documentUrl">{{a.documentName}}</a>
                                    </div>
                                    <div *ngIf="a.externalUrlName">
                                        <a class="btn btn-sm btn-link" target="_blank" [href]="a.externalUrl">{{a.externalUrlName}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-4">
        <div class="card event-card">
            <div class="card-body card-padding">
                <div class="listview">
                    <div class="lv-header">
                        Quick Event Calendar
                    </div>
                    <div class="lv-body">
                        <a class="lv-item" [routerLink]="['/events', event.id, 'detail']" *ngFor="let event of eventList">
                            <div class="media">
                                <div class="pull-left">
                                    <img *ngIf="event.eventType.toString()=='Holiday Pro-shop Event'" class="lv-img-sm" src="../../assets/img/TeedUp.png" alt="Holiday proshop event">
                                    <img *ngIf="event.eventType.toString()=='Other'" class="lv-img-sm" src="../../assets/img/BallHole.png" alt="Other event">
                                    <img *ngIf="event.eventType.toString()=='League'" class="lv-img-sm" src="../../assets/img/Swing.png" alt="League event">
                                    <img *ngIf="event.eventType.toString()=='Weekend Major'" class="lv-img-sm" src="../../assets/img/RangeBucket.png" alt="Weekend major">
                                    <img *ngIf="event.eventType.toString()=='Member Meeting'" class="lv-img-sm" src="../../assets/img/Iron.png" alt="Member meeting">
                                </div>
                                <div class="media-body">
                                    <div class="lv-title">{{ event.name }}</div>
                                    <small class="lv-small">{{ event.startDate.format('dddd, MMMM Do') }}</small>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-4">
        <div class="card event-card">
            <div class="card-header">
                <h2>Quick Links</h2>
            </div>
            <div class="card-body card-padding">
                <p><a href="http://bookit.activegolf.com/book-bunker-hills-gc-tee-times/1114" target="_blank">Tee
                    Times</a></p>
                <p><a href="http://bunkerhillsgolf.com/" target="_blank">Bunker Hills Home</a></p>
                <p><a href="http://mpga.net.p.hostingprod.com/" target="_blank">Minnesota Public Golf Association</a>
                </p>
                <p><a href="http://www.mngolf.org/home" target="_blank">Minnesota Golf Association</a></p>
                <p><a href="http://www.usga.org/rules/rules-and-decisions.html" target="_blank">Rules of Golf</a></p>
                <p><a href="https://www.ghin.com/default.aspx" target="_blank">Handicaps (GHIN)</a></p>
            </div>
        </div>
    </div>
</div>
