<div>
<div bsModal (onShown)="onShown()" #paymentModal="bs-modal" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" *ngIf="registrationGroup && eventDetail">
            <div class="modal-header bgm-teal">
                <h3 class="modal-title">Payment: {{ registrationGroup.payment.total | currency:'USD':true }}</h3>
                <small>{{ eventDetail.name }} ({{ eventDetail.startDate.format('MMM D') }})</small>
                <span id="spinner-span" class="pull-right"></span>
            </div>
            <div class="modal-body">
                <div class="row" *ngIf="hasSavedCard">
                    <div class="toggle-switch col-xs-12 m-t-20" data-ts-color="teal">
                        <label for="pmt-switch" class="ts-label">Use {{ savedCard.description }}</label>
                        <input id="pmt-switch" type="checkbox" hidden="hidden" name="useSavedCard"
                               [(ngModel)]="useSavedCard" (change)="toggleSavedCard()">
                        <label for="pmt-switch" class="ts-helper"></label>
                    </div>
                </div>
                <form [formGroup]="cardForm" novalidate>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group m-t-30" [class.has-error]="cardErrors.number">
                            <label for="number">Card Number</label>
                            <input id="number" type="tel" class="form-control input-lg"
                                   formControlName="number" ccNumber
                                   placeholder="Credit Card Number">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-7">
                        <div class="form-group fg-line" [class.has-error]="cardErrors.expiry">
                            <label for="expiry">Exp Date</label>
                            <input id="expiry" type="tel" class="form-control input-lg"
                                   formControlName="expiry" ccExp
                                   placeholder="MM/YY">
                        </div>
                    </div>
                    <div class="col-xs-5 pull-right" [class.has-error]="cardErrors.cvc">
                        <div class="form-registrationGroup fg-line">
                            <label>CV Code</label>
                            <input id="cvc" type="tel" class="form-control input-lg"
                                   formControlName="cvc" ccCVC
                                   placeholder="CVC">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 message-pane">
                        <ul class="clist clist-error">
                            <li *ngIf="cardErrors.number" class="text-danger">{{ cardErrors.number }}</li>
                            <li *ngIf="cardErrors.expiry" class="text-danger">{{ cardErrors.expiry }}</li>
                            <li *ngIf="cardErrors.cvc" class="text-danger">{{ cardErrors.cvc }}</li>
                        </ul>
                        <ul class="clist clist-angle" *ngIf="processStatus === 1 || processStatus === 2">
                            <li class="text-info">Processing payment...</li>
                            <li class="text-info">Please don't navigate away from the site until this is completed.</li>
                        </ul>
                        <ul class="clist clist-check">
                            <li *ngFor="let msg of messages" [ngClass]="msg.style">{{ msg.text }}</li>
                        </ul>
                    </div>
                </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-relative btn-icon-text" [ngClass]="currentState.style"
                        [disabled]="currentState.disabled"
                        (click)="processPayment()">
                    <i class="zmdi" [ngClass]="currentState.icon"></i> {{currentState.text}}
                </button>
                <button class="btn btn-warning" type="button" (click)="cancelPayment()" *ngIf="!currentState.complete">Cancel</button>
            </div>
        </div>
    </div>
</div>
</div>
